<div class="form-div">
    <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()" class="add-item-form">
        <div class="upload-succes-div" *ngIf="isUpload">
            <p>
                upload success
            </p>
        </div>
        <table class="table-form">
            <tr>
                <th class="label-name">
                    <label for="name">Item name</label>
                </th>
                <th rowspan="2">
                    <input type="text" placeholder="Item Name"
                        [class.error]="getitemname.invalid && getitemname.touched"
                        [class.noerror]="!getitemname.invalid && !getitemname.touched" formControlName="name">
                </th>

            </tr>
            <tr>
                <th class="error-message">
                    <small style="color: red;" *ngIf="getitemname.invalid && getitemname.touched">Name is required
                        !</small>
                </th>
            </tr>
            <tr>
                <th class="label-name">
                    <label for="price">Small item Price</label>
                </th>
                <th rowspan="2">
                    <input type="text" placeholder="Small item Price"
                        [class.error]="getsmallPrice.invalid && getsmallPrice.touched"
                        [class.noerror]="!getsmallPrice.invalid && !getsmallPrice.touched" formControlName="smallPrice">
                </th>
            </tr>
            <tr>
                <th class="error-message">
                    <small style="color: red;" *ngIf="getsmallPrice.invalid && getsmallPrice.touched">Add price</small>
                </th>
            </tr>
            <tr>
                <th class="label-name">
                    <label for="price">Small Price</label>
                </th>
                <th rowspan="2">
                    <input type="text" placeholder="Medium item Price"
                        [class.error]="getmediamPrice.invalid && getmediamPrice.touched"
                        [class.noerror]="!getmediamPrice.invalid && !getmediamPrice.touched"
                        formControlName="mediamPrice">
                </th>
            </tr>
            <tr>
                <th class="error-message">
                    <small style="color: red;" *ngIf="getmediamPrice.invalid && getmediamPrice.touched">Add
                        price</small>
                </th>
            </tr>
            <tr>
                <th class="label-name">
                    <label for="price">Large Price</label>
                </th>
                <th rowspan="2">
                    <input type="text" placeholder="Large item Price"
                        [class.error]="getlargePricee.invalid && getlargePricee.touched"
                        [class.noerror]="!getlargePricee.invalid && !getlargePricee.touched"
                        formControlName="largePrice">
                </th>
            </tr>
            <tr>
                <th class="error-message">
                    <small style="color: red;" *ngIf="getlargePricee.invalid && getlargePricee.touched">Add
                        price</small>
                </th>
            </tr>

            <tr>
                <th class="label-name">
                    <label for="price">Description</label>
                </th>
                <th rowspan="2">
                    <input type="text" placeholder="Decsription"
                        [class.error]="getdescription.invalid && getdescription.touched"
                        [class.noerror]="!getdescription.invalid && !getdescription.touched"
                        formControlName="description">
                </th>
            </tr>
            <tr>
                <th class="error-message">
                    <small style="color: red;" *ngIf="getdescription.invalid && getdescription.touched">Add
                        description</small>
                </th>
            </tr>
            <tr>
                <th class="label-name">
                    <label for="price">Image</label>
                </th>
                <th rowspan="2">
                    <input type="file" formControlName="productImage" accept="image/*">
                </th>
            </tr>
            <tr>
                <th class="error-message">
                    <small style="color: red;" *ngIf="getproductImage.invalid && getproductImage.touched">Add
                        image</small>
                </th>
            </tr>
        </table>
        <div class="upload-error-div" *ngIf="isError">
            <p>
                {{errorCallback}}
            </p>
        </div>
        <div class="submit-button">
            <button type="submit" [disabled]="!addItemForm.valid" class="submit">Upload</button>
        </div>
    </form>

</div>