<div class="body">

</div>
<div class="example-container mat-elevation-z8">
    <h2>Add Gallery</h2>
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="example-card">
        <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>Item Image</mat-label>
                <ngx-mat-file-input formControlName="productImage" placeholder="Select Image"
                    valuePlaceholder="No image file selected" [errorStateMatcher]="matcher"></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
                <mat-error>
                    <span *ngIf="getImage.invalid && getImage.touched">Please select image file</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Item Name</mat-label>
                <input matInput placeholder="Item Name" formControlName="name" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="getitemname.invalid && getitemname.touched">Please
                        enter Item Name</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Small Price</mat-label>
                <input matInput placeholder="Small item Price $" [errorStateMatcher]="matcher"
                    formControlName="smallPrice">
                <mat-error>
                    <span *ngIf="getsmallPrice.invalid && getsmallPrice.touched">Please
                        enter Image Name</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Mediam Price</mat-label>
                <input matInput placeholder="Mediam item Price $" [errorStateMatcher]="matcher"
                    formControlName="mediamPrice">
                <mat-error>
                    <span *ngIf="getmediamPrice.invalid && getmediamPrice.touched">Please
                        enter mediam price</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Large Price</mat-label>
                <input matInput placeholder="Large item Price $" formControlName="largePrice"
                    [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="getlargePricee.invalid && getlargePricee.touched">Please
                        enter Large Price</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description..." rows="5" formControlName="description"
                    [errorStateMatcher]="matcher"></textarea>
                <mat-error>
                    <span *ngIf="getdescription.invalid && getdescription.touched">Please enter the
                        Discription</span>
                </mat-error>
            </mat-form-field>

            <!-- <mat-form-field class="example-full-width">
                <mat-label>Image Description</mat-label>
                <input matInput placeholder="Image Description" formControlName="imageDesc"
                    [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!getdescription.invalid && !getdescription.touched">Please
                        enter Image Description</span>
                </mat-error>
            </mat-form-field> -->
            <div class="button-row">
                <button type="submit" mat-flat-button color="primary"
                    [disabled]="!addItemForm.valid || isLoadingResults">
                    <mat-label>Upload</mat-label>
                    <mat-icon>upgrade</mat-icon>
                </button>
            </div>
        </form>
    </mat-card>
</div>