form{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 2px 5px black;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
}
/* .email input{
   display: inline;
} */
.subscribed input{
    width: 10px;
}
input[type="text"],input[type="email"],input[type="password"] {
    display: flex;
    margin-left: 10px;
    width: 95%;
    padding: 10px 0px 10px 10px;
}