<p>products works!</p>

<div class="add-product">
    <button type="button" routerLink='/products/add-item' routerLinkActive='active'>ADD ITEMS</button>
</div>


<h2>Product count: {{ productCount }} </h2>

<ul class="showProducts" *ngFor = "let product of products" type="none" (click)="showProduct(product._id)">
    <li>Product Name: {{ product.name }} </li>
    <li>Price: {{ product.price }} </li>
    <li>product ID: {{ product._id }} </li>
    <li> {{ product.productImage }} </li>
    <img [src]='product.productImage' alt="product image" style="position: relative;width: 100px;height: 100px;">
</ul>