
.body {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.example-container {
  position:relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  box-shadow: none;
}

.example-container-name {
  font-size: 50px;
  font-family: 'Yellowtail', cursive;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 4px;
}
.example-loading-shade {
   width: 8%;
   margin-left: auto;
   margin-right: auto;
} 
.example-card {
  box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
  margin-left: auto;
  margin-right: auto;
  /* min-width: 150px;
  max-width: 500px; */
  width: 80%;
  
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}
input, textarea, button, mat-label,span {
  font-family: 'Montserrat Alternates', sans-serif;
}
.add-procut-button {
  position: absolute;
  right: 1%;
}
.showProducts {
  margin-top: 50px;
}
.product-column {
  position: relative;
  width: 100%;  
}

.product-tile {
  position: relative;
  width: 95%;
  margin-bottom: 20px;
  color: white;
  background-color: #34495E;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  transition: .3s;
 
}
.product-tile h2, h3, h5 {
  font-family: 'Montserrat Alternates', sans-serif;
}
.product-image-div {
  position: relative;
  width: 170px;
  height: 170px;
  padding: 2px 10px 2px 0px;
  margin-left: 30px;
}
.product-image-div img {
  position: relative;
  width: 100%;
  height: 100%;
}
.card-button {
  transition: .2s;
}
.card-button:hover{
  box-shadow: 2px 2px 5px black;
  transform: scale(1.1);
}
.items-Loading {
  width: 9%;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------ */
#page_bottom{

  position: relative;
  margin-top: 100px;
  height: 300px;
  background-color: black;
  
}
#page_bottom h2, h3 {
  font-family: 'Nunito', sans-serif;
}
#page_bottom p{
  position: absolute;
  bottom: 0px;
  left: 710px;
  color: white;
  font-family: 'Nunito', sans-serif;
}  
#bottom_info{
  position: absolute;
  left: 5%;
  width: 400px;
}
#bottom_info table{
  color:  white;
  position: relative;
  width: 300px;
  font-family: 'Nunito', sans-serif;
}
#page_bottom h2{
 font-size: medium;
 color: white;
}
#bottom_item{
  position: absolute;
  bottom: 30px;
  left: 41%;
}
.fa {  
  width: 15px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
  border-radius: 50%; 
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
}

.fa-twitter {
  background: #55ACEE;
}


.fa-linkedin {
  background: #007bb5;
}

.fa-youtube {
  background: #bb0000;
}

.fa-instagram {
  background: #8a3ab9;
}

.fa-whatsapp {
  background: #4FCE5D;
}
.fa-skype {
  background: #00aff0;
}

.fa-github {
  background: #000000;
}



