<div class="add-item-main-fram">

    <div class="detail-body">
        <div class="add-product">
            <button type="button" (click)="addProduct()">ADD ITEMS</button>
        </div>
        <h2 class="product-count">Product count: {{ productCount }} </h2>
        <div class="showProducts">
            <div class="no-item-show" *ngIf="isNothaveProducts; else elseBlock">
                <p>
                    No items
                </p>
            </div>
            <ng-template #elseBlock>
                <div fxLayout="row wrap">
                    <div fxFlex="50%" *ngFor='let product of products; index as i' class='product-column'>
                        <table class='product-tile'>
                            <tr>
                                <td rowspan="2">
                                    <div class="product-image-div">
                                        <img [src]='product.productImage' alt="product image">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <h2>{{product.name}}</h2>
                                        <h3>Small ${{product.smallPrice}} / Mediam ${{product.mediamPrice}} / Large
                                            ${{product.largePrice}}
                                        </h3>
                                        <h5>{{product.description}}</h5>
                                    </div>
                                </td>
                            </tr>
                            <tr class="card-button-section">
                                <td>
                                    <button mat-raised-button class="card-button"
                                        (click)="deleteProduct(product._id)">Delete</button>
                                </td>
                                <td>
                                    <button mat-raised-button class="card-button"
                                        (click)="updateProduct(product._id)">Update</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>


</div>