.body {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.example-container {
  position:relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
}

.example-container-name {
  font-size: 50px;
  font-family: 'Yellowtail', cursive;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 4px;
}
.example-loading-shade {
   width: 8%;
   margin-left: auto;
   margin-right: auto;
} 
.example-card {
  box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
  margin-left: auto;
  margin-right: auto;

  width: 80%;
  
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}
button, mat-label,span {
  font-family: 'Montserrat Alternates', sans-serif;
}
.add-procut-button {
  position: absolute;
  right: 1%;
  font-family: 'Montserrat Alternates', sans-serif;
}
.showProducts {
  margin-top: 50px;
}
.product-column {
  position: relative;
  width: 100%;  
}

.product-tile {
 text-align: right;
  position: relative;
  width: 95%;
  margin-bottom: 20px;
  color: white;
  background-color: #34495E;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  transition: .3s;
 
}
.product-tile h2, h3, h5 {
  font-family: 'Montserrat Alternates', sans-serif;
}
.product-image-div {
  position: relative;
  width: 170px;
  height: 170px;
  padding: 2px 10px 2px 0px;
  margin-left: 30px;
}
.product-image-div img {
  position: relative;
  width: 100%;
  height: 100%;
}
.card-button {
  transition: .2s;
}
.card-button:hover{
  box-shadow: 2px 2px 5px black;
  transform: scale(1.1);
}
table, tr, td {
  border: 1px solid black;
}
table tr td {
  padding-right: 10px;
}