<div class="add-item-main-fram">

    <div class="detail-body">
        <h2 class="product-count">Order count: {{ orderLenght }} </h2>
        <div class="showProducts">
            <div class="no-item-show" *ngIf="isHavenotOrder; else elseBlock">
                <p>
                    No orders
                </p>
            </div>
            <ng-template #elseBlock>
                <div fxLayout="row wrap">
                    <div fxFlex="50%" *ngFor='let order of orders; index as i' class='product-column'>
                        <table class='product-tile'>
                            <tr>
                                <td>
                                    <p>Buyer name</p>
                                </td>
                                <td>
                                    <h2>{{order.name}}</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>Product name</td>
                                <td>{{order.productId.name}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Item type</p>
                                </td>
                                <td>
                                    <p>{{ order.size }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Quantity</p>
                                </td>
                                <td>
                                    <p>{{ order.quantity }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Pickup or delivery
                                    </p>
                                </td>
                                <td>
                                    <p>{{ order.pickupordelivery }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Telephone</p>
                                </td>
                                <td>
                                    <p>{{ order.telephone }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Address</p>
                                </td>
                                <td>
                                    <p>{{order.address}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Sub address</p>
                                </td>
                                <td>
                                    <p>{{order.subAddress}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Postal code
                                    </p>
                                </td>
                                <td>
                                    <p>{{order.postalcode}}</p>
                                </td>
                            </tr>
                            <tr class="card-button-section">
                                <td>
                                    <button mat-raised-button class="card-button"
                                        (click)="deleteOrder(order.id)">Delete</button>
                                </td>
                                <td>
                                    <button mat-raised-button class="card-button"
                                        (click)="selectOrder(order.id)">View</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>