<div class="select-item-display">

   <table class="item-show">
      <tr>
         <td>
            <div class="product-image-div">
               <img [src]='image' alt="product image">
            </div>
         </td>
         <td>
            <div>
               <h2>{{name}}</h2>
               <h3>Small ${{smallPrice}} / Mediam ${{mediamPrice}} / Large
                  ${{largePrice}}
               </h3>
               <h5>{{description}}</h5>
            </div>
         </td>
      </tr>
   </table>
</div>