<div class="body">

</div>
<div class="example-container mat-elevation-z8">
   <h2>Buy Now</h2>
   <mat-card class="example-card">
      <div class="no-item-show" *ngIf="isLoading; else elseBlock">
         <mat-spinner></mat-spinner>
      </div>
      <ng-template #elseBlock>
         <table class='product-tile'>
            <tr>
               <td rowspan="2">
                  <div class="product-image-div">
                     <img [src]='image' alt="product image">
                  </div>
               </td>
               <td class="product-tile-detail-body">
                  <div>
                     <h2>{{name}}</h2>
                     <h3>Small ${{smallPrice}} / Mediam ${{mediamPrice}} / Large
                        ${{largePrice}}
                     </h3>
                     <h3>{{description}}</h3>
                  </div>
               </td>
            </tr>
            <tr class="card-button-row">
               <button mat-raised-button class="card-button" (click)="getOrder(id)">Buy</button>
            </tr>
         </table>
      </ng-template>
   </mat-card>
</div>
<div id="page_bottom">
   <h2>contact us</h2>
   <div id="bottom_info">
       <table>
           <tr>
               <td>
                   email
               </td>
               <td>
                   sachidisanayaka98@gmail.com
               </td>
           </tr>
           <tr>
               <td>
                   tel
               </td>
               <td>
                   +94 75 540 520 5
               </td>
           </tr>
       </table>

   </div>

   <div id="bottom_item">
       <a href="#" class="fa fa-facebook"></a>
       <a href="#" class="fa fa-twitter"></a>
       <a href="#" class="fa fa-linkedin"></a>
       <a href="#" class="fa fa-youtube"></a>
       <a href="#" class="fa fa-instagram"></a>
       <a href="#" class="fa fa-whatsapp"></a>
       <a href="#" class="fa fa-skype"></a>
       <a href="#" class="fa fa-github"></a>
   </div>
   <p>Copyright &#169; 2020</p>
</div>