html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: rgba(0,0,0, .8);
}
.header-menu {
    position: relative;
    position: sticky;
    top: 0px;
    padding-top: 20px;
    transition: .7s;
    color: white;
    text-shadow: 2px 1px 5px black;
    z-index: 99;
}
.header-link {
  position: absolute;
  right: 300px;
  padding: 5px;
  top: 15%;
}
.header-link a {
  text-decoration: none;
  margin-right: 20px;
  transition: padding-bottom .3s ease-in-out;
  color: white;
}
.header-link a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}
.header-name {
  position: absolute;
  left: 450px;
  padding: 5px;
  top: 2%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-name h2{
  border-bottom: 3px solid white;
  
}
