<div class="header-menu" id="header-menu">
    <div class="header-name">
        <h2>Bruno's Pizzeria</h2>
    </div>
    <div class="header-link">
        <a routerLink="/home" routerLinkActive='active'>Home</a>
        <a routerLink="/oders" routerLinkActive='active'>Oders</a>
        <a routerLink="/products" routerLinkActive='active'>Products</a>
        <a routerLink='/sign-up' routerLinkActive='active' *ngIf="!_authService.loggedIn()"> SIGNUP</a>
        <a routerLink='/sign-in' routerLinkActive='active' *ngIf="!_authService.loggedIn()"> SIGNIN</a>
        <a (click)="_authService.logoutUser()" routerLinkActive='active' *ngIf="_authService.loggedIn()">LOGOUT</a>
    </div>
</div>
<!-- <button class=" button" routerLink='/sign-up' routerLinkActive='active' *ngIf="!_authService.loggedIn()"><span> SIGN
        UP</span></button>
<button style="width: auto;" class="button" routerLink='/sign-in' routerLinkActive='active'
    *ngIf="!_authService.loggedIn()"><span> SIGN IN</span></button>
<button style="width: auto;" class="button" (click)="_authService.logoutUser()" routerLinkActive='active'
    *ngIf="_authService.loggedIn()"><span> LOG OUT</span></button> -->


<router-outlet></router-outlet>