<h1>My APP</h1>

<button style="width: auto;" class="button" routerLink='/sign-up' routerLinkActive='active' *ngIf="!_authService.loggedIn()"><span> SIGN UP</span></button>
<button style="width: auto;" class="button" routerLink='/sign-in' routerLinkActive='active' *ngIf="!_authService.loggedIn()"><span> SIGN IN</span></button>
<button style="width: auto;" class="button" (click)="_authService.logoutUser()" routerLinkActive='active' *ngIf="_authService.loggedIn()"><span> LOG OUT</span></button>

<router-outlet></router-outlet>