.order-body {
  position: absolute;
  width: 100%;
  height: 100%;
}
.header {
  position: relative;
  text-align: center;
  margin-top: 150px;
}
.user-detail-form {
  margin-top: 10px;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
.detail-input-form {
  padding: 20px;
  position: relative;
  width: 100%;
  border: 1px solid black;
}
.detail-input-form table {
  position: relative;
  width: 70%;
}
.detail-input-form table td {
  text-align: right;
}
.detail-input-form input {
  position: relative;
  width: 90%;
  padding: 10px;
}
.order-button {
  position: relative;
}
.sub-table {
  position: absolute;
  width: 100%;
}
.sub-table-row {
  position: relative;
}
small {
  color: red;
}