<div class="front-image">
    <div class="image-show">
    </div>


    <aside class="image-name">
        <p class="image-name-top">Welcome to Bruno's Pizzeria</p><br>
        <p class="image-name-bottom">Order a delicious pizza today</p>
    </aside>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="slidedots">
        <span class="dots" onclick="dotslide(1)"></span>
        <span class="dots" onclick="dotslide(2)"></span>
        <span class="dots" onclick="dotslide(3)"></span>
    </div>
    <div class="aboutUs">
        <table>
            <tr>
                <td>
                    <p class="aboutustitle">
                        Who We Are
                    </p>
                </td>
                <th colspan="2">
                    <div class="chefimage">
                        <!-- <img src="chef2.jpg" alt=""> -->
                    </div>
                </th>
            </tr>
            <tr>
                <td>
                    <p class="aboutusdescription">
                        It has been a few months since this international restaurant chain opened up down Glen Aber
                        Place.
                        <br>
                        It is one of the super affordable options mentioned in this list with some pizzas costing only
                        LKR 800! <br>
                        It is also BYOB so gather the troops and head over for a value for money meal.
                        <br>
                        Contact: 0771 146 748
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="shop-menu">
        <div class="shop-menu-background">

        </div>
        <div class="shop-menu-name">
            <h1>Our items</h1>
        </div>
        <div class="items-Loading" *ngIf="isLoading; else loadingBlock">
            <mat-spinner></mat-spinner>
        </div>
        <ng-template #loadingBlock>
            <div class="show-product-database">
                <div class="no-item-show" *ngIf="isNothaveProducts; else elseBlock">
                    <p>
                        No items
                    </p>
                </div>
                <ng-template #elseBlock>
                    <div fxLayout="row wrap">
                        <div fxFlex="50%" *ngFor='let product of products; index as i' class='product-column'>
                            <table class='product-tile' (click)="showClickedProduct(product._id)">
                                <tr>
                                    <td rowspan="2">
                                        <div class="product-image-div">
                                            <img [src]='product.productImage' alt="product image">
                                        </div>
                                    </td>
                                    <td class="product-tile-detail-body">
                                        <div>
                                            <h2>{{product.name}}</h2>
                                            <h3>Small ${{product.smallPrice}} / Mediam ${{product.mediamPrice}} / Large
                                                ${{product.largePrice}}
                                            </h3>
                                            <h5>{{product.description}}</h5>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="card-button-row">
                                    <button mat-raised-button class="card-button"
                                        (click)="getOrder(product._id)">Buy</button>
                                </tr>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </div>
        </ng-template>
    </div>
    <div id="page_bottom">
        <h2>contact us</h2>
        <div id="bottom_info">
            <table>
                <tr>
                    <td>
                        email
                    </td>
                    <td>
                        sachidisanayaka98@gmail.com
                    </td>
                </tr>
                <tr>
                    <td>
                        tel
                    </td>
                    <td>
                        +94 75 540 520 5
                    </td>
                </tr>
            </table>

        </div>

        <div id="bottom_item">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-whatsapp"></a>
            <a href="#" class="fa fa-skype"></a>
            <a href="#" class="fa fa-github"></a>
        </div>
        <p>Copyright &#169; 2020</p>
    </div>
</div>
<!-- <script>
    var slideIndex = 1;
    var t;
    // showSlides(slideIndex);
    timeSlides();

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function dotslide(n) {
        showSlides(slideIndex = n);
    }

    function timeSlides() {
        var i;
        var x = document.getElementsByClassName("slideimage");
        var dots = document.getElementsByClassName("dots");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" clickit", "");
        }

        if (slideIndex > x.length) { slideIndex = 1 }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " clickit";
        slideIndex++;
        setTimeout(timeSlides, 4000);

    }
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slideimage");
        var dots = document.getElementsByClassName("dots");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" clickit", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " clickit";
        //   t = setTimeout(function(){ showSlides(slideIndex); }, 3000);
    }

  
</script> -->